/* General Styles */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

#logo {
  width: 10%;
}

header {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

nav ul {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Hero Section Styles */
#hero {
  background-color: #eee;
  padding: 50px 0;
  text-align: center;
}

#hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

#hero button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Features Section Styles */
#features {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature {
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
}

.feature img {
  width: 100px;
  height: 100px;
}

#team {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-member {
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* QA Styles */
#qa {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 10px;
}

.qa-content {
  margin: 2px 0;
  border-radius: 3%;
  padding: 0 0 0 10px;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    padding: 0;
  }

  nav ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .feature,
  .team-member {
    width: 100%;
  }

  #qa {
    flex-direction: column;
  }
}
